---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ArticleCard from "@components/ArticleCard.astro";

const allPosts = await getCollection("article");
---

<Layout
    frontmatter={{
        title: "記事一覧",
        description: "ろぼいん のサイトの記事一覧ページです。",
        author: "ろぼいん",
        showAuthor: false,
        pubDate: "2021-06-13T02:43:35.295+09:00",
        showDate: false,
        showThumbnail: false,
        showRecommendedArticles: false,
        showToc: false
    }}
>
    <div id="article_list_area">
        {
            allPosts
                .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())
                .map((post) => <ArticleCard link={`/article/${post.slug}/`} type="portrait" />)
        }
    </div>
</Layout>
<style is:inline>
    #article_list_area > * {
        flex-basis: calc(100% - 0.5rem);
    }

    @media (orientation: landscape) {
        #article_list_area > *:not([card-type="landscape"]) {
            flex-basis: calc(50% - 0.5rem);
        }
    }

    #article_list_area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: flex-start;
        gap: 1rem;
    }
</style>
