# build output
dist/

# generated types
.astro/*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
# .env
# .env.production

# macOS-specific files
.DS_Store

# dependencies
node_modules/*

# rehype-og-card関連のファイルを.gitignoreに追加する。
# `node_modules/.astro/rehype-og-card/*.json`はGitの管理対象にするが、
# `node_modules`の他のファイルは管理対象にしない。

node_modules/.astro/*
!node_modules/.astro/

node_modules/.astro/rehype-og-card/*
!node_modules/.astro/rehype-og-card/

!node_modules/.astro/rehype-og-card/*.json

public/rehype-og-card/

