<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/gif "access plus 1 months" 
    ExpiresByType image/jpeg "access plus 1 months" 
    ExpiresByType image/png "access plus 1 months" 
    ExpiresByType image/x-icon "access plus 6 months" 
    ExpiresByType text/css "access plus 1 days" 
    ExpiresByType text/javascript "access plus 1 months" 
    ExpiresByType application/javascript "access plus 1 months" 
    ExpiresByType application/x-javascript "access plus 1 months"
</IfModule> 
