@media screen and (min-width: 800px) {
    div[show="pc"] {
        display: block; 
    }
    div[show="phone"] {
        display: none; 
    }
    div[show="phone_small"] {
        display: none; 
    }
}

@media screen and (min-width: 600px) and (max-width: 800px), (orientation: portrait) {
    div[show="pc"] {
        display: none; 
    }
    div[show="phone"] {
        display: block; 
    }
    div[show="phone_small"] {
        display: none; 
    }
}

@media screen and (max-width: 600px) {
    div[show="pc"] {
        display: none; 
    }
    div[show="phone"] {
        display: none; 
    }
    div[show="phone_small"] {
        display: block; 
    }
}

img {
    max-width: 100%;
}

img[size="half"] {
    width: 50%;
    height: auto;
}

img[size="third"] {
    width: 33%;
    height: auto;
}

img[size="tenth"] {
    width: 10%;
    height: auto;
}

body {
    background-color: #333333;
    color: #a9a9a9;
}

a:link {
    color: #d2691e;
}

a:visited {
    color: #d98719;
}

a:hover {
    color: #ff7f50;
}

a:active {
    color: #ff7f50;
}

h1 {
    color: #FF6A00;
}

h1[type="inline"] {
    display: inline;
}

h2 {
    color: #FF6A00;
}

h2[type="inline"] {
    display: inline;
}

h3 {
    color: #FF6A00;
}

h3[type="inline"] {
    display: inline;
}

div {
    background: #000000;
    color: #a9a9a9;
    padding: 10px;
    max-width: 100%;
    height: auto;
}

div[type="inline"] {
    display: inline;
}

footer {
    text-align: center;
}

iframe {
    width: 100%;
    height: auto;
}

#loader-bg {
    background: #333333;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#loader-bg img {	
    background: #333333;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
}
