@media screen and (width > 720px) {
    div[show="pc"] {
        display: block; 
    }
    div[show="phone"] {
        display: none; 
    }
}

@media screen and (width < 720px), (orientation: portrait){
    div[show="pc"] {
        display: none; 
    }
    div[show="phone"] {
        display: block; 
    }
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #333333;
    color: #a9a9a9;
}

a:link {
    color: #d2691e;
}

a:visited {
    color: #d98719;
}

a:hover {
    color: #ff7f50;
}

a:active {
    color: #ff7f50;
}

h1 {
    color: #d2691e;
}

h2 {
    color: #d2691e;
}

h3 {
    color: #d2691e;
}

div {
    background: #000000;
    color: #a9a9a9;
    padding: 10px;
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
}

iframe[width="auto"] {
    width: 100%;
    height: auto;
}

#loader-bg {
    background: #333333;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#loader-bg img {	
    background: #333333;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
}
