*,
*::before,
*::after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-display: swap;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

amp-img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
        -o-transition-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --bgcolor: #FFFFFF;
    --textcolor: #333333;
    --div_textcolor: white;
    --themecolor: #00CED1;
    --divcolor: #001970;
    --normallinkcolor: #40E0D0;
    --visitedlinkcolor: #6495ED;
    --hoverlinkcolor: #20B2AA;
    --activelinkcolor: #008080;
    --quotetextcolor: #999999;
    --cookie_info_bg: rgba(0, 0, 0, 0.8);
    --cookie_info_textcolor: white;
    --header_height: 10vmin;
}

@media (prefers-color-scheme: dark) {
     :root {
        --bgcolor: #000000;
        --textcolor: #dddddd;
        --div_textcolor: var(--textcolor);
        --themecolor: #20B2AA;
        --divcolor: #222222;
        --normallinkcolor: #40E0D0;
        --visitedlinkcolor: #6495ED;
        --hoverlinkcolor: #2F4F4F;
        --activelinkcolor: #2F4F4F;
        --quotetextcolor: #888888;
        --cookie_info_bg: rgba(255, 255, 255, 0.5);
        --cookie_info_textcolor: black;
    }
    .darkmode_support_image {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

@media screen and (min-width: 800px) {
    div[show="pc"] {
        display: block;
    }
    div[show="phone"] {
        display: none;
    }
    div[show="phone_small"] {
        display: none;
    }
     :root {
        --figcaption_nohover: 0;
        --figcaption_place: 5%;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px),
(orientation: portrait) {
    div[show="pc"] {
        display: none;
    }
    div[show="phone"] {
        display: block;
    }
    div[show="phone_small"] {
        display: none;
    }
     :root {
        --figcaption_nohover: 1;
        --figcaption_place: 5%;
    }
}

@media screen and (max-width: 600px) {
    div[show="pc"] {
        display: none;
    }
    div[show="phone"] {
        display: none;
    }
    div[show="phone_small"] {
        display: block;
    }
     :root {
        --figcaption_nohover: 1;
        --figcaption_place: 5%;
    }
}

progress {
    width: 50%;
}

figure {
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
}

figcaption {
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: var(--figcaption_nohover);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

p {
    width: calc(100% - 1em);
    margin: 0 0.5em;
    margin-bottom: 3em;
}

figcaption p {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--figcaption_place) 10vw;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
}

figure:hover figcaption {
    opacity: 1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

figure amp-img {
    overflow: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-filter: none;
    filter: none;
}

figure:hover amp-img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

amp-img {
    max-width: 100%;
}

a amp-img {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a amp-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.half {
    width: 50%;
    height: auto;
}

.third {
    width: 33%;
    height: auto;
}

.fourth {
    width: 25%;
    height: auto;
}

.tenth {
    width: 10%;
    height: auto;
}

.half_height {
    width: 100%;
    height: 50vh;
    max-height: 50vw;
    -o-object-fit: cover;
    object-fit: cover;
}

.half_height amp-img, .half_height img {
    object-fit: cover;
}

.grayscale {
    -webkit-filter: grayscale(100%) brightness(80%);
    filter: grayscale(100%) brightness(80%);
}

html,
body {
    font-family: "Comfortaa", "Noto Sans JP", sans-selif;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;*/
    margin: 0;
    padding: 0;
    /******/
    /*-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;*/
    width: 100vw;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    outline: none;
}

*::-webkit-scrollbar {
    display: none;
}


/*html {
    background-color: var(--divcolor);
}*/

body {
    background-color: var(--bgcolor);
}

main {
    padding: 0;
    /*margin: 0 2vw;*/
    margin: var(--header_height) 0 4em 0;
    /*min-height: 100vh;*/
    min-height: calc(70vh - 4em);
    width: 100vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    background: var(--divcolor);
    color: var(--div_textcolor);
    padding: 0.5em;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 2em 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

code {
    background: #004444;
    color: white;
    padding: 0.5em;
    width: 100%;
    height: auto;
    overflow: scroll;
    margin: 0;
    margin-bottom: 2em;
    white-space: pre;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::-moz-selection {
    background: var(--themecolor);
    color: white;
}

*::selection {
    background: var(--themecolor);
    color: white;
}

a:link {
    color: #00FFFF;
    transition: 0.3s;
}

a:visited {
    color: #007DFF;
}

a:hover {
    color: #00C8FF;
}

a:active {
    color: #00C8FF;
}

a[class="button"] {
    color: var(--themecolor);
}

a:visited[class="button"] {
    color: var(--themecolor);
}

a:active[class="button"] {
    color: var(--themecolor);
}

a:hover[class="button"] {
    color: #FFFFFF;
}

.button,
button {
    display: inline-block;
    padding: 0.3em 1em;
    color: var(--themecolor);
    border: solid 2px var(--themecolor);
    border-radius: 3px;
    text-decoration: none;
    margin: 10px 10px 10px 0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: transparent;
}

.button:hover,
button:hover {
    background: var(--themecolor);
    color: var(--textcolor);
}

.cookie_info {
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--cookie_info_bg);
    color: var(--cookie_info_textcolor);
    width: 100vw;
    margin: 0;
    padding: 2em 1em;
    display: none;
    z-index: 200;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

h1 {
    width: calc(100% - 2em - 9px);
    color: var(--themecolor);
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 9px var(--divcolor);
    border-bottom: solid 2px var(--divcolor);
    margin: 2em 0 1em 0.5em;
}

h2 {
    width: calc(100% - 2em - 9px);
    color: var(--themecolor);
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 9px var(--divcolor);
    border-bottom: solid 2px var(--divcolor);
    margin: 2em 0 1em 0.5em;
}

h3 {
    width: calc(100% - 2em - 9px);
    color: var(--themecolor);
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 9px var(--divcolor);
    border-bottom: solid 2px var(--divcolor);
    margin: 2em 0 1em 0.5em;
}

.inline {
    display: inline;
    padding: 0px;
    border-left: none;
    border-bottom: none;
}

.block {
    display: block;
}

.no_border {
    padding: 0px;
    border-left: none;
    border-bottom: none;
}

iframe {
    max-width: 100%;
}

.video {
    position: relative;
    padding: 0px;
    width: 100%;
    padding-top: 56.25%;
}

.video iframe {
    position: absolute;
    padding: 0px;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

table,
td,
th {
    border: 1px var(--textcolor) solid;
    border-collapse: collapse;
}

hr {
    background: var(--textcolor);
    border: none;
    color: var(--textcolor);
    height: 2px;
}

footer {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: var(--divcolor);
    width: 100vw;
    min-height: 30vh;
    padding: 5vh 0vh 20vh 0vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--div_textcolor);
}

.no_color {
    background-color: rgba(0, 0, 0, 0);
}

.themecolor {
    color: var(--themecolor);
}

strong {
    color: var(--themecolor);
    font-size: 150%;
}

.important {
    display: block;
    padding: 0.3em 1em;
    color: #FF0000;
    background: transparent;
    border: solid 2px #FF0000;
    border-radius: 3px;
    margin: 10px 10px 10px 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.quote {
    display: block;
    padding: 0.3em 1em;
    color: var(--quotetextcolor);
    background: transparent;
    border: solid 2px var(--quotetextcolor);
    border-radius: 3px;
    margin: 10px 10px 10px 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.quote p {
    margin: 0;
    margin-bottom: 3em;
    padding: 0;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.marquee {
    width: 100%;
    padding: 0.5em 0;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.marquee p:after {
    content: "";
    white-space: nowrap;
    padding-right: 50px;
}

.marquee p {
    margin: 0;
    padding-left: 100%;
    display: inline-block;
    white-space: nowrap;
    width: auto;
    -webkit-animation-name: marquee;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: marquee;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: marquee;
    -ms-animation-timing-function: linear;
    -ms-animation-duration: 10s;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: marquee;
    -o-animation-timing-function: linear;
    -o-animation-duration: 10s;
    -o-animation-iteration-count: infinite;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes marquee {
    from {
        -webkit-transform: translate(0%);
    }
    99%,
    to {
        -webkit-transform: translate(-100%);
    }
}

@keyframes marquee {
    from {
        -webkit-transform: translate(0%);
        transform: translate(0%);
    }
    99%,
    to {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }
}

.glitch {
    text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
    drop-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
    -webkit-animation: glitch-text 3.5s linear infinite;
    animation: glitch-text 3.5s linear infinite;
    color: var(--textcolor);
}

@-webkit-keyframes glitch-text {
    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        text-shadow: 0px 0px 6px black, 0px 0px 3px #00A75B, 0px 0px 3px #96007A;
        drop-shadow: 0px 0px 6px black, 0px 0px 3px #00A75B, 0px 0px 3px #96007A;
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg);
    }
    41% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        drop-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-transform: skewX(/*10deg*/
        5deg);
        transform: skewX(/*10deg*/
        5deg);
    }
    42% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #96007A, -3px -3px 3px #00A75B;
        drop-shadow: 0px 0px 6px black, 5px 5px 3px #96007A, -3px -3px 3px #00A75B;
        -webkit-transform: skewX(/*-10deg*/
        -5deg);
        transform: skewX(/*-10deg*/
        -5deg);
    }
    59% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        drop-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-transform: skewX(/*40deg*/
        20deg) skewY(/*10deg*/
        5deg);
        transform: skewX(/*40deg*/
        20deg) skewY(/*10deg*/
        5deg);
    }
    60% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        drop-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-transform: skewX(/*-40deg*/
        -20deg) skewY(/*-10deg*/
        -5deg);
        transform: skewX(/*-40deg*/
        -20deg) skewY(/*-10deg*/
        -5deg);
    }
    63% {
        text-shadow: 0px 0px 6px black, 3px 3px 3px #96007A, -2px -2px 3px #00A75B;
        drop-shadow: 0px 0px 6px black, 3px 3px 3px #96007A, -2px -2px 3px #00A75B;
        -webkit-transform: skewX(/*10deg*/
        5deg) skewY(/*-5deg*/
        -2deg);
        transform: skewX(/*10deg*/
        5deg) skewY(/*-5deg*/
        -2deg);
    }
    70% {
        text-shadow: 0px 0px 6px black, 7px 7px 3px #00A75B, -7px -7px 3px #96007A;
        drop-shadow: 0px 0px 6px black, 7px 7px 3px #00A75B, -7px -7px 3px #96007A;
        -webkit-transform: skewX(/*-50deg*/
        -25deg) skewY(/*-20deg*/
        -10deg);
        transform: skewX(/*-50deg*/
        -25deg) skewY(/*-20deg*/
        -10deg);
    }
    71% {
        text-shadow: 0px 0px 6px black, 1px 1px 3px #96007A, -2px -2px 3px #00A75B;
        drop-shadow: 0px 0px 6px black, 1px 1px 3px #96007A, -2px -2px 3px #00A75B;
        -webkit-transform: skewX(/*10deg*/
        5deg) skewY(/*-10deg*/
        -5deg);
        transform: skewX(/*10deg*/
        5deg) skewY(/*-10deg*/
        -5deg);
    }
}

@keyframes glitch-text {
    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        text-shadow: 0px 0px 6px black, 0px 0px 3px #00A75B, 0px 0px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(0px 0px 3px #00A75B) drop-shadow(0px 0px 3px #96007A);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(0px 0px 3px #00A75B) drop-shadow(0px 0px 3px #96007A);
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg);
    }
    41% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        -webkit-transform: skewX(5deg);
        transform: skewX(5deg);
    }
    42% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #96007A, -3px -3px 3px #00A75B;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #96007A) drop-shadow(-3px -3px 3px #00A75B);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #96007A) drop-shadow(-3px -3px 3px #00A75B);
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
    }
    59% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        -webkit-transform: skewX(20deg) skewY(5deg);
        transform: skewX(20deg) skewY(5deg);
    }
    60% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        -webkit-transform: skewX(-20deg) skewY(-5deg);
        transform: skewX(-20deg) skewY(-5deg);
    }
    63% {
        text-shadow: 0px 0px 6px black, 3px 3px 3px #96007A, -2px -2px 3px #00A75B;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(3px 3px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(3px 3px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
        -webkit-transform: skewX(5deg) skewY(-2deg);
        transform: skewX(5deg) skewY(-2deg);
    }
    70% {
        text-shadow: 0px 0px 6px black, 7px 7px 3px #00A75B, -7px -7px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(7px 7px 3px #00A75B) drop-shadow(-7px -7px 3px #96007A);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(7px 7px 3px #00A75B) drop-shadow(-7px -7px 3px #96007A);
        -webkit-transform: skewX(-25deg) skewY(-10deg);
        transform: skewX(-25deg) skewY(-10deg);
    }
    71% {
        text-shadow: 0px 0px 6px black, 1px 1px 3px #96007A, -2px -2px 3px #00A75B;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(1px 1px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(1px 1px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
        -webkit-transform: skewX(5deg) skewY(-5deg);
        transform: skewX(5deg) skewY(-5deg);
    }
}

.headerbar {
    width: 100vw;
    height: var(--header_height);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 50;
    background: var(--divcolor);
    opacity: 0.8;
}

.headerbar svg {
    opacity: 1;
}

.site_title_logo {
    height: var(--header_height);
    display: inline-block;
    max-width: 50vw;
}

.hamburger {
    height: var(--header_height);
    display: inline-block;
    max-width: 50vw;
    float: right;
}

amp-sidebar {
    padding: 0 2em;
    background: rgba(51, 51, 51, 0.7);
}

amp-sidebar a {
    padding: 2em 1em;
    display-inline-block;
    text-decoration: none;
}

amp-sidebar hr {
    background: white;
}

.close-sidebar {
    margin: 2em 0;
    padding: 0;
    background: none;
}

.i-amphtml-sidebar-mask {
    margin: 0;
    padding: 0;
}
