*,
*::before,
*::after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-display: swap;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

amp-img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation-duration: 0.01ms;
        animation-duration: 0.01ms;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-transition-duration: 0.01ms;
        -o-transition-duration: 0.01ms;
        transition-duration: 0.01ms;
        scroll-behavior: auto;
    }
}

:root {
    --bg_color: #FFFFFF;
    --text_color: #333333;
    --div_text_color: white;
    --theme_color: #00CED1;
    --div_color: #001970;
    --quote_text_color: #999999;
    --header_height: 10vmin;
}

@media (prefers-color-scheme: dark) {
     :root {
        --bg_color: #000000;
        --text_color: #dddddd;
        --div_text_color: var(--text_color);
        --theme_color: #20B2AA;
        --div_color: #222222;
        --quote_text_color: #888888;
    }
    .darkmode_support_image {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

@media screen and (min-width: 800px) {
     :root {
        --figcaption_nohover: 0;
        --figcaption_place: 5%;
    }
}

@media screen and (max-width: 800px),
(orientation: portrait) {
     :root {
        --figcaption_nohover: 1;
        --figcaption_place: 5%;
    }
}

figure {
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
}

figcaption {
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: var(--figcaption_nohover);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

p {
    width: calc(100% - 1em);
    margin: 1em 0.5em;
}

figcaption p {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--figcaption_place) 10vw;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
}

figure:hover figcaption {
    opacity: 1;
}

figure amp-img {
    overflow: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-filter: none;
    filter: none;
}

figure:hover amp-img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

amp-img {
    max-width: 100%;
}

a amp-img {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a amp-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.half {
    width: 50%;
    height: auto;
}

.tenth {
    width: 10%;
    height: auto;
}

.half_height {
    width: 100%;
    height: 50vh;
    max-height: 50vw;
    -o-object-fit: cover;
    object-fit: cover;
}

.half_height amp-img, .half_height img {
    -o-object-fit: cover;
    object-fit: cover;
}

.grayscale {
    -webkit-filter: grayscale(100%) brightness(80%);
    filter: grayscale(100%) brightness(80%);
}

html,
body {
    font-family: "Comfortaa", "Noto Sans JP", sans-selif;
    background: var(--bg_color);
    color: var(--text_color);
    margin: 0;
    padding: 0;
    width: 100vw;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    outline: none;
}

*::-webkit-scrollbar {
    display: none;
}

main {
    padding: 0;
    margin: var(--header_height) 0 4em calc((100vw - 100vmin) / 2);
    min-height: calc(70vh - 4em);
    width: 100vmin;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    background: var(--div_color);
    color: var(--div_text_color);
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::-moz-selection {
    background: var(--theme_color);
    color: white;
}

*::selection {
    background: var(--theme_color);
    color: white;
}

a:link {
    color: var(--theme_color);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    word-break: break-all;
}

a:visited {
    color: #007DFF;
}

a:hover,
a:active {
    color: #00C8FF;
}

a[class="button"],
a:visited[class="button"],
a:active[class="button"] {
    color: var(--theme_color);
}

a:hover[class="button"] {
    color: #FFFFFF;
}

.button,
button {
    display: inline-block;
    padding: 0.3em 1em;
    color: var(--theme_color);
    border: solid 2px var(--theme_color);
    border-radius: 3px;
    text-decoration: none;
    margin: 10px 10px 10px 0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: transparent;
}

.button:hover,
button:hover {
    background: var(--theme_color);
    color: var(--text_color);
}

h1 {
    width: calc(100% - 2em + 9px);
    color: var(--theme_color);
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 9px var(--div_color);
    border-bottom: solid 2px var(--div_color);
    margin: 4em 0.5em 0 calc(0.5em - 9px);
}

h2 {
    width: calc(100% - 2em);
    color: var(--theme_color);
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 9px var(--div_color);
    border-bottom: solid 2px var(--div_color);
    margin: 2em 0 1em calc(0.5em - 9px);
}

h3 {
    width: calc(100% - 2em - 9px);
    color: var(--theme_color);
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 9px var(--div_color);
    border-bottom: solid 2px var(--div_color);
    margin: 2em 0 1em 0.5em;
}

.no_border {
    padding: 0px;
    border-left: none;
    border-bottom: none;
}

iframe {
    max-width: 100%;
}

table,
td,
th {
    border: 1px var(--text_color) solid;
    border-collapse: collapse;
}

hr {
    background: var(--text_color);
    border: none;
    color: var(--text_color);
    height: 2px;
}

footer {
    text-align: center;
    background: var(--div_color);
    width: 100vw;
    min-height: 30vh;
    padding: 5vh 0vh 10vh 0vh;
    color: var(--div_text_color);
}

strong {
    color: var(--theme_color);
    font-size: 120%;
}

.important {
    display: block;
    padding: 0.3em 1em;
    color: #FF0000;
    background: transparent;
    border: solid 2px #FF0000;
    border-radius: 3px;
    margin: 10px 10px 10px 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.quote {
    display: block;
    color: var(--quote_text_color);
    background: transparent;
    border-left: solid 0.3em var(--quote_text_color);
    margin: 1em;
    padding: 1em;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.quote p {
    margin: 0;
    margin-bottom: 3em;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* header等にmarqueeを実装する用のCSS。現在は不要のためコメントアウト */

/* 
.marquee {
    width: 100%;
    padding: 0.5em 0;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.marquee p:after {
    content: "";
    white-space: nowrap;
    padding-right: 50px;
}

.marquee p {
    margin: 0;
    padding-left: 100%;
    display: inline-block;
    white-space: nowrap;
    width: auto;
    -webkit-animation-name: marquee;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: marquee;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: marquee;
    -ms-animation-timing-function: linear;
    -ms-animation-duration: 10s;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: marquee;
    -o-animation-timing-function: linear;
    -o-animation-duration: 10s;
    -o-animation-iteration-count: infinite;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes marquee {
    from {
        -webkit-transform: translate(0%);
    }
    99%,
    to {
        -webkit-transform: translate(-100%);
    }
}

@keyframes marquee {
    from {
        -webkit-transform: translate(0%);
        transform: translate(0%);
    }
    99%,
    to {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }
} */

.glitch {
    text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
    -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
            filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
    -webkit-animation: glitch-text 3.5s linear infinite;
    animation: glitch-text 3.5s linear infinite;
    color: var(--text_color);
}

@-webkit-keyframes glitch-text {
    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        text-shadow: 0px 0px 6px black, 0px 0px 3px #00A75B, 0px 0px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(0px 0px 3px #00A75B) drop-shadow(0px 0px 3px #96007A);
                filter: drop-shadow(0px 0px 6px black) drop-shadow(0px 0px 3px #00A75B) drop-shadow(0px 0px 3px #96007A);
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg);
    }
    41% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
                filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        -webkit-transform: skewX(5deg);
        transform: skewX(5deg);
    }
    42% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #96007A, -3px -3px 3px #00A75B;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #96007A) drop-shadow(-3px -3px 3px #00A75B);
                filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #96007A) drop-shadow(-3px -3px 3px #00A75B);
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
    }
    59% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
                filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        -webkit-transform: skewX(20deg) skewY(5deg);
        transform: skewX(20deg) skewY(5deg);
    }
    60% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
                filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        -webkit-transform: skewX(-20deg) skewY(-5deg);
        transform: skewX(-20deg) skewY(-5deg);
    }
    63% {
        text-shadow: 0px 0px 6px black, 3px 3px 3px #96007A, -2px -2px 3px #00A75B;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(3px 3px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
                filter: drop-shadow(0px 0px 6px black) drop-shadow(3px 3px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
        -webkit-transform: skewX(5deg) skewY(-2deg);
        transform: skewX(5deg) skewY(-2deg);
    }
    70% {
        text-shadow: 0px 0px 6px black, 7px 7px 3px #00A75B, -7px -7px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(7px 7px 3px #00A75B) drop-shadow(-7px -7px 3px #96007A);
                filter: drop-shadow(0px 0px 6px black) drop-shadow(7px 7px 3px #00A75B) drop-shadow(-7px -7px 3px #96007A);
        -webkit-transform: skewX(-25deg) skewY(-10deg);
        transform: skewX(-25deg) skewY(-10deg);
    }
    71% {
        text-shadow: 0px 0px 6px black, 1px 1px 3px #96007A, -2px -2px 3px #00A75B;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(1px 1px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
                filter: drop-shadow(0px 0px 6px black) drop-shadow(1px 1px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
        -webkit-transform: skewX(5deg) skewY(-5deg);
        transform: skewX(5deg) skewY(-5deg);
    }
}

@keyframes glitch-text {
    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        text-shadow: 0px 0px 6px black, 0px 0px 3px #00A75B, 0px 0px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(0px 0px 3px #00A75B) drop-shadow(0px 0px 3px #96007A);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(0px 0px 3px #00A75B) drop-shadow(0px 0px 3px #96007A);
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg);
    }
    41% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        -webkit-transform: skewX(5deg);
        transform: skewX(5deg);
    }
    42% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #96007A, -3px -3px 3px #00A75B;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #96007A) drop-shadow(-3px -3px 3px #00A75B);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #96007A) drop-shadow(-3px -3px 3px #00A75B);
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
    }
    59% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        -webkit-transform: skewX(20deg) skewY(5deg);
        transform: skewX(20deg) skewY(5deg);
    }
    60% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(5px 5px 3px #00A75B) drop-shadow(-3px -3px 3px #96007A);
        -webkit-transform: skewX(-20deg) skewY(-5deg);
        transform: skewX(-20deg) skewY(-5deg);
    }
    63% {
        text-shadow: 0px 0px 6px black, 3px 3px 3px #96007A, -2px -2px 3px #00A75B;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(3px 3px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(3px 3px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
        -webkit-transform: skewX(5deg) skewY(-2deg);
        transform: skewX(5deg) skewY(-2deg);
    }
    70% {
        text-shadow: 0px 0px 6px black, 7px 7px 3px #00A75B, -7px -7px 3px #96007A;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(7px 7px 3px #00A75B) drop-shadow(-7px -7px 3px #96007A);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(7px 7px 3px #00A75B) drop-shadow(-7px -7px 3px #96007A);
        -webkit-transform: skewX(-25deg) skewY(-10deg);
        transform: skewX(-25deg) skewY(-10deg);
    }
    71% {
        text-shadow: 0px 0px 6px black, 1px 1px 3px #96007A, -2px -2px 3px #00A75B;
        -webkit-filter: drop-shadow(0px 0px 6px black) drop-shadow(1px 1px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
        filter: drop-shadow(0px 0px 6px black) drop-shadow(1px 1px 3px #96007A) drop-shadow(-2px -2px 3px #00A75B);
        -webkit-transform: skewX(5deg) skewY(-5deg);
        transform: skewX(5deg) skewY(-5deg);
    }
}

.headerbar {
    width: 100vw;
    height: var(--header_height);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 50;
    background: var(--div_color);
    opacity: 0.8;
}

.headerbar svg {
    opacity: 1;
}

.site_title_logo {
    height: var(--header_height);
    display: inline-block;
    max-width: 50vw;
}

.hamburger {
    height: var(--header_height);
    max-width: 50vw;
    float: right;
    cursor: pointer;
}

amp-sidebar {
    padding: 0 2em;
    background: rgba(51, 51, 51, 0.7);
}

amp-sidebar a {
    padding: 1em;
    display:inline-block;
    text-decoration: none;
}

amp-sidebar hr {
    background: white;
}

.close-sidebar {
    margin: 2em 0;
    padding: 0;
    background: none;
    text-align: right;
    cursor: pointer;
}

div[open] {
    margin: 0;
    padding: 0;
}

details summary {
    cursor: pointer;
}

/* ここからハイライトの設定 */
/* 背景の設定 */
.editor-colors {
    background: #364549;
    color: white;
    font-family: meiryo, sans-serif;
    line-height: 180%;
    width: calc(100% - 1em);
    overflow-x: scroll;
    margin: 1em 0.5em;
    padding: 0.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* ここからPython用 */
.syntax--comment {
    /* コメント部分 */
    color: #9dabae;
    font-style: italic;
}

.syntax--keyword.syntax--control {
    /* importやifなどの文 */
    color: #ebd247;
}

.syntax--keyword.syntax--operator {
    /* =などの演算子 */
    color: #ff8095;
}

.syntax--string.syntax--quoted {
    /* クォーテーションで囲まれた文字列 */
    color: #41b7d7;
}

.syntax--storage.syntax--type.syntax--function {
    /* def文 */
    color: #ebd247;
}

.syntax--storage.syntax--type.syntax--function + .syntax--entity.syntax--name.syntax--function {
    /* defの直後の関数名 */
    color: #8bdf4c;
}

.syntax--constant.syntax--numeric {
    /* クォーテーションで囲まれていない数字 */
    color: #a980f5;
}

/* ここからxml用 */
.syntax--meta.syntax--tag.syntax--preprocessor,
.syntax--meta.syntax--tag.syntax--preprocessor .syntax--punctuation.syntax--definition.syntax--tag {
    /* xml宣言 */
    color: #9dabae;
}

.syntax--punctuation.syntax--definition.syntax--tag,
.syntax--entity.syntax--name.syntax--tag {
    /* タグ */
    color: #ff8095;
}

.syntax--meta.syntax--tag {
    /* 属性名 */
    color: #8bdf4c;
}

/* ここからJavaScript用 */
.syntax--support.syntax--variable {
    /* オブジェクト名 */
    color: #8bdf4c;
}

.syntax--entity.syntax--name.syntax--function {
    /* 関数名 */
    color: #8bdf4c;
}

.syntax--storage.syntax--modifier,
.syntax--storage.syntax--type {
    /* constやletなどの宣言 */
    color: #ebd247;
}

.syntax--variable.syntax--other.syntax--object.syntax--property.syntax--unquoted {
    /* valueなどの属性名 */
    color: #8bdf4c;
}

.syntax--storage.syntax--type.syntax--function.syntax--arrow {
    /* アロー関数の=> */
    color: #ff8095;
}

/* ここからHTML用 */
.syntax--meta.syntax--tag.syntax--doctype {
    /* DOCTYPE宣言 */
    color: #9dabae;
}

.syntax--entity.syntax--other.syntax--attribute-name {
    /* 属性名 */
    color: #8bdf4c;
}

.syntax--punctuation.syntax--separator.syntax--key-value {
    /* 属性の= */
    color: #8bdf4c;
}

.syntax--string {
    /* 属性値 */
    color: #41b7d7;
}

/* ここからCSS用 */
.syntax--punctuation.syntax--separator.syntax--key-value {

    color: white;
}

.syntax--support.syntax--function.syntax--misc {
    /* filterのblurなどの関数 */
    color: #8bdf4c;
}
