.glitch {
    text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
    animation: glitch-text 3.5s linear infinite;
}

@keyframes glitch-text {
    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        text-shadow: 0px 0px 6px black, 0px 0px 3px #00A75B, 0px 0px 3px #96007A;
        transform: skewX(0deg);
    }
    41% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        transform: skewX(10deg);
    }
    42% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #96007A, -3px -3px 3px #00A75B;
        transform: skewX(-10deg);
    }
    59% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        transform: skewX(40deg) skewY(10deg);
    }
    60% {
        text-shadow: 0px 0px 6px black, 5px 5px 3px #00A75B, -3px -3px 3px #96007A;
        transform: skewX(-40deg) skewY(-10deg);
    }
    63% {
        text-shadow: 0px 0px 6px black, 3px 3px 3px #96007A, -2px -2px 3px #00A75B;
        transform: skewX(10deg) skewY(-5deg);
    }
    70% {
        text-shadow: 0px 0px 6px black, 7px 7px 3px #00A75B, -7px -7px 3px #96007A;
        transform: skewX(-50deg) skewY(-20deg);
    }
    71% {
        text-shadow: 0px 0px 6px black, 1px 1px 3px #96007A, -2px -2px 3px #00A75B;
        transform: skewX(10deg) skewY(-10deg);
    }
}
