---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import defaultThumbnail from "../../public/icon/ogp_default_thumbnail.png";

interface Props {
    link: string;
}

if (!Astro.props.link.startsWith("/article/")) throw new Error("link attribute must start with /article/");

const slug = Astro.props.link.replace("/article/", "").replace(/\/$/, "");

const targetArticle = await getEntry("article", slug);
if (!targetArticle) throw new Error("article not found");

const thumbnail = targetArticle.data.thumbnail || defaultThumbnail;
---

<article>
    <a href={Astro.props.link}>
        <Image src={thumbnail} width={Math.min(600, thumbnail.width)} alt="記事のサムネイル" class="thumbnail" />
        <div class="text_container">
            <div class="title">{targetArticle.data.title}</div>
            <div class="description">{targetArticle.data.description}</div>
        </div>
    </a>
</article>
<style>
    article {
        background: var(--secondary-background-color);
        border-radius: 0.25rem;
        overflow: hidden;
        box-shadow: 0.1rem 0.1rem 0.5rem rgb(0, 0, 0, 0.2);
        border: solid 0.1rem rgb(50, 50, 50, 0.1);
    }

    article a {
        color: inherit;
        text-decoration: none;
    }

    .thumbnail {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    .text_container {
        padding: 0.5rem;
    }

    .title {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: justify;
        text-justify: inter-character;
        margin: 0.5rem 0;
        font-feature-settings: "palt";
    }

    .description {
        color: var(--middle-emphasis-color);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>
