<footer>
    <p>
        <a href="https://www.buymeacoffee.com/keita_roboin" target="_blank" rel="noopener noreferrer"
            ><img
                src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=keita_roboin&button_colour=FFDD00&font_colour=000000&font_family=Arial&outline_colour=000000&coffee_colour=ffffff"
            /></a
        >
    </p>
    <p>Copyright © {new Date().getFullYear()} ろぼいん All rights reserved.</p>
    <p class="footer_item_container">
        <a href="/about/">このサイトについて</a><a href="/tos/">利用規約</a><a href="/privacy/">プライバシーポリシー</a
        ><a href="/contact/">お問い合わせ</a>
    </p>
</footer>
<style>
    footer {
        background: var(--md-surface-container);
        height: var(--footer-height);
        color: var(--md-on-surface);
        padding-top: 2.5rem;
    }

    footer p {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    footer a {
        color: inherit;
    }

    .footer_item_container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 1.5em;
        flex-wrap: wrap;
        margin-top: 1.5rem;
    }

    @media (orientation: portrait) {
        .footer_item_container {
            flex-direction: column;
            gap: 0.5em;
        }
    }
</style>
