<footer>
    <p>
        <a href="https://www.buymeacoffee.com/keita_roboin" target="_blank" rel="noopener noreferrer"
            ><img
                src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=keita_roboin&button_colour=FFDD00&font_colour=000000&font_family=Arial&outline_colour=000000&coffee_colour=ffffff"
            /></a
        >
    </p>
    <p>Copyright © {new Date().getFullYear()} ろぼいん All rights reserved.</p>
    <p>
        <a href="/about/">このサイトについて</a>・<a href="/tos/">利用規約</a>・<a href="/privacy/"
            >プライバシーポリシー</a
        >・<a href="/contact/">お問い合わせ</a>
    </p>
</footer>
<style>
    footer {
        background: #3a3a3a;
        height: var(--footer-height);
        color: white;
        padding-top: 2.5rem;
    }

    footer p {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    footer a {
        color: inherit;
    }
</style>
