<p>
    <input id="youtube-url-input" /><button id="youtube-url-submit">変換</button>
</p>
<p>
    変換後のURL：<a href="" id="youtube-url-converted-link" target="_blank"></a><span
        id="youtube-url-error"
        style="display: none;"></span>
</p>

<script>
    const input = document.querySelector<HTMLInputElement>("#youtube-url-input")!;
    const submit = document.querySelector<HTMLElement>("#youtube-url-submit")!;
    const convertedLink = document.querySelector<HTMLAnchorElement>("#youtube-url-converted-link")!;
    const error = document.querySelector<HTMLElement>("#youtube-url-error")!;

    const showErrorMessage = (message) => {
        convertedLink.href = "";
        convertedLink.textContent = "";
        error.style.display = "inline";
        error.textContent = message;
    };

    const showConvertedLink = (url) => {
        convertedLink.href = url;
        convertedLink.textContent = url;
        convertedLink.style.display = "inline";
        error.style.display = "none";
    };

    submit.addEventListener("click", () => {
        const url = input.value;

        try {
            if (url.startsWith("https://www.youtube.com/shorts/") || url.startsWith("https://youtube.com/shorts/")) {
                const parser = new URL(url);
                const videoId = parser.pathname.split("/")[2];
                showConvertedLink(`https://www.youtube.com/watch?v=${videoId}`);
            } else if (url.startsWith("https://www.youtube.com/watch")) {
                const parser = new URL(url);
                const videoId = parser.searchParams.get("v");
                showConvertedLink(`https://www.youtube.com/watch?v=${videoId}`);
            } else if (url.startsWith("https://youtu.be/") || url.startsWith("https://www.youtube.com/embed/")) {
                const parser = new URL(url);
                const videoId = parser.pathname.split("/")[1];
                showConvertedLink(`https://www.youtube.com/watch?v=${videoId}`);
            } else {
                showErrorMessage("URLが正しくありません。「https://youtube.com/shorts/」で始まるURLを入力してください");
            }
        } catch (e) {
            showErrorMessage("URLの解析に失敗しました。「https://youtube.com/shorts/」で始まるURLを入力してください");
        }
    });
</script>
