---
import "./BaseLayout.css";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import type { CollectionEntry } from "astro:content";
import { getDefaultThumbnail } from "src/utils/getDefaultThumbnailPath";
import { cache } from "src/utils/cache";
import { escapeTitle, getAuthorData, getThumbnailData } from "src/utils/layoutUtil";

interface Props {
    frontmatter: CollectionEntry<"article">["data"];
    lang: "ja" | "en";
}

if (!Astro.site) throw new Error("site is not defined");

let thumbnailUrl = new URL((await getDefaultThumbnail(Astro.url.pathname)).src, Astro.site.href).href;
if (Astro.props.frontmatter.thumbnail) {
    thumbnailUrl = new URL(Astro.props.frontmatter.thumbnail.src, Astro.site.href).href;
}

const author = await getAuthorData(Astro.props.frontmatter.author);

const titleWithSiteName = escapeTitle(`${Astro.props.frontmatter.title} - ${import.meta.env.SITE_NAME}`);

let preloadedThumbnail: undefined | Awaited<ReturnType<typeof getThumbnailData>> = undefined;

if (Astro.props.frontmatter.showThumbnail && Astro.props.frontmatter.thumbnail) {
    preloadedThumbnail = await getThumbnailData(Astro.props.frontmatter.thumbnail);
}

const headContentData = {
    author,
    title: Astro.props.frontmatter.title,
    titleWithSiteName,
    description: Astro.props.frontmatter.description,
    preloadedThumbnail,
    thumbnailUrl,
    pubDate: Astro.props.frontmatter.pubDate,
    modifiedDate: Astro.props.frontmatter.modifiedDate
} as const;
---

<!doctype html>
<html lang={Astro.props.lang}>
    <Head {...headContentData}>
        {Astro.props.frontmatter.showAds && <meta data-ad-code-slot="head" slot="afterBegin" />}
        <Fragment slot="beforeEnd">
            {
                Astro.props.frontmatter.showAds && (
                    <>
                        <script
                            is:inline
                            async
                            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2526648882773973"
                            crossorigin="anonymous"
                        />
                        <script
                            type="text/javascript"
                            src="//nc.pubpowerplatform.io/w/e47f3a83-49fc-40bc-a3a3-de265b248056.js"
                            async
                            defer
                            is:inline
                        />
                        <script is:inline>
                            var powerTag = powerTag || {}; powerTag.gdprShowConsentToolButton = false;
                        </script>
                        <script
                            type="text/javascript"
                            src="//nc.pubpowerplatform.io/ata/adv/e47f3a83-49fc-40bc-a3a3-de265b248056.js"
                            async
                            defer
                            is:inline
                        />
                    </>
                )
            }
            <slot name="head" />
        </Fragment>
    </Head>
    <body>
        <slot name="beforeHeader" />
        {cache("header", () => <Header />)}
        <main>
            <slot name="main" />
        </main>
        {cache("footer", () => <Footer />)}
        <slot name="beforeEnd" />
    </body>
</html>
