main > article:first-of-type {
    font-family: serif;
}

main > article h1 {
    text-align: center;
    margin: 2rem 0 1rem 0 !important;
}

h1,
h2 {
    font-family: sans-serif;
    background: none !important;
    padding: 0 !important;
}

h2 {
    margin: 3em 0 1em 0 !important;
}
