article.document_layout {
    font-family: "Noto Sans JP", sans-serif;
}

article.document_layout p,
article.document_layout ul {
    font-family: "Noto Serif JP", serif;
}

article.document_layout h1 {
    text-align: center;
    margin: 2em 0 !important;
}

.document_layout h1,
.document_layout h2 {
    background: none !important;
    padding: 0 !important;
}

.document_layout h2 {
    margin: 3em 0 1em 0 !important;
    padding: 0 !important;
}
