* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --header-height: 4rem;
    --article-max-width: min(35rem, calc(100vw - 1.5rem));
    --footer-height: 15rem;
    --social-icon-size: max(2.5rem, 40px);

    --secondary-background-color: #fff;
    --base-background-color: #fff;
    --base-text-color: #333;
    --theme-color: #3476ac;
    --theme-color-lighter: #3d8fd1;
    --middle-emphasis-color: rgb(0, 0, 0, 0.6);
    --low-emphasis-color: rgb(0, 0, 0, 0.6);
    --text-color-on-theme: white;

    --inline-code-background-color: rgba(0, 0, 0, 0.1);
    --chips-background-color: rgb(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
    :root {
        --secondary-background-color: #2a2a2a;
        --base-background-color: #191919;
        --base-text-color: #fff;
        --theme-color: #87b7e1;
        --theme-color-lighter: #acd8ff;
        --middle-emphasis-color: rgb(255, 255, 255, 0.6);
        --low-emphasis-color: rgb(255, 255, 255, 0.6);
        --text-color-on-theme: #191919;

        --inline-code-background-color: rgba(255, 255, 255, 0.1);
        --chips-background-color: rgb(255, 255, 255, 0.1);
    }
}

html,
body {
    color-scheme: light dark;
    color: var(--base-text-color);
    background: var(--base-background-color);
    font-family: "Noto Sans JP", sans-serif;
}

header {
    position: fixed;
    width: 100vw;
    height: var(--header-height);
    border-bottom: 0.1rem solid rgb(0, 0, 0, 0.2);
    background: var(--secondary-background-color);
    z-index: 2;
}

#header_logo {
    width: auto;
    height: calc(100% - 2rem);
    margin: 1rem 0 0 1rem;
}

header nav {
    position: absolute;
    top: 0.2rem;
    right: 2rem;
}

header nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
    margin: 0.75rem 0 auto 2rem;
}

#menu_button {
    width: calc(var(--header-height) - 2rem);
    height: calc(var(--header-height) - 2.5rem);
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

#menu_button div,
#menu_button div::before,
#menu_button div::after {
    display: block;
    content: "";
    width: 100%;
    height: 0.2rem;
    background: var(--base-text-color);
    border-radius: 0.2rem;
    transition: 0.3s;
    transform-origin: left;
}

#menu_button div::before {
    position: absolute;
    top: 0;
    left: 0;
}

#menu_button div::after {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (orientation: portrait) {
    #header_logo {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    header nav {
        background: var(--secondary-background-color);
        position: absolute;
        top: var(--header-height);
        left: 100vw;
        width: 100vw;
        height: calc(100vh - var(--header-height));
        padding-top: 1rem;
        transition: 0.3s;
    }

    header[data-overlay-menu="closed"] nav {
        left: 100vw;
    }

    header[data-overlay-menu="opened"] nav {
        left: 0;
    }

    header nav a {
        display: block;
        margin-bottom: 1rem;
    }

    #menu_button {
        display: block;
    }

    header[data-overlay-menu="opened"] #menu_button div {
        background: none;
    }

    header[data-overlay-menu="opened"] #menu_button div::before {
        transform: rotate(45deg);
        width: 95%;
    }

    header[data-overlay-menu="opened"] #menu_button div::after {
        transform: rotate(-45deg);
        width: 95%;
    }
}

main {
    min-height: calc(100vh - var(--footer-height));
    padding: var(--header-height) 0.75rem 3rem 0.75rem;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

main > * {
    grid-column: 2 / 3;
}

#top_ad_mobile {
    margin: 1rem 0;
}

#top_ad_mobile .adsbygoogle {
    display: block;
    margin: auto 0;
}

#top_ad_mobile .adsbygoogle::before {
    content: "";
}

#top_ad_desktop,
#middle_ad {
    display: none;
    width: 100%;
    height: 280px;
}

@media (max-width: 1500px) {
    #top_ad_desktop,
    #middle_ad {
        height: 250px;
    }
}

@media (orientation: landscape) {
    #related_articles_section {
        min-width: 15rem;
        max-width: 25rem;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        margin-top: 0;
        margin-left: 5rem;
        width: calc(100% - 8rem);
    }

    #related_articles_section article {
        height: 5rem;
    }

    #related_articles_section h3 {
        font-size: 1rem;
    }

    #top_ad_mobile {
        display: none;
    }

    #top_ad_desktop {
        display: block;
        margin: 1rem 0;
    }
}

#article_info,
#article_tags {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 1rem;
    z-index: 0;
    align-items: center;
}

#article_info {
    color: var(--middle-emphasis-color);
    margin: 0.75rem 0 2.5rem 0;
}

#article_tags {
    margin: 0.75rem 0 0 0;
}

#article_tags a {
    color: var(--base-text-color);
    text-decoration: none;
    background: var(--chips-background-color);
    padding: 0.25em 0.75em;
    margin: 0.25em 0;
    border-radius: 1em;
    transition: 0.3s;
}

#article_tags a:hover {
    background: var(--theme-color);
    color: var(--text-color-on-theme);
}

#page_top_thumbnail {
    display: block;
    margin-bottom: 2rem;
}

.toc {
    padding: 1rem 0;
    margin: 2rem 0;
    padding: 1rem;
    border-top: solid 0.1rem var(--low-emphasis-color);
    border-bottom: solid 0.1rem var(--low-emphasis-color);
    position: relative;
}

.toc h2 {
    font-size: 1.2rem;
    padding: 0;
    line-height: 2rem;
    border-left: none;
    display: inline-block;
}

.toc a {
    text-decoration: none;
    color: inherit;
}

.toc nav > ul {
    margin-left: 1.25rem;
}

.toc ul > ul {
    font-size: 0.9em;
}

.toc li {
    list-style: none;
    position: relative;
    --toc-li-margin: 0.5rem;
    margin: var(--toc-li-margin) 0;
}

.toc li::before,
.toc li::after {
    content: "";
    display: block;
    position: absolute;
}

.toc li::before {
    width: 0.1rem;
    height: calc(100% + var(--toc-li-margin) * 2);
    background: var(--theme-color);
    left: -0.75rem;
}

/*
 * 見出しレベルが変わって最初のli要素は、上方向に線を引かずに下方向にのみ引く
 */
.toc :not(li) + li::before,
.toc li:first-child::before {
    height: calc(50% + var(--toc-li-margin));
    top: 50%;
}

/*
 * 見出しレベルが変わる直前のli要素は、下方向に線を引かずに上方向にのみ引く
 */
.toc li:last-child::before,
.toc li:not(:has(+ li))::before {
    height: calc(50% + var(--toc-li-margin));
    bottom: 50%;
}

/*
 * 最初で最後のli要素や、ul要素で上下両方を挟まれているli要素は線を引かない
 */
.toc :not(li) + li:last-child::before,
.toc li:first-child:last-child::before,
.toc :not(li) + li:not(:has(+ li))::before,
.toc li:first-child:not(:has(+ li))::before {
    height: 0;
}

.toc li::after {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.6rem;
    background: var(--base-background-color);
    border: solid 0.1rem var(--theme-color);
    top: 50%;
    left: -1.1rem;
    transform: translateY(-50%);
    transition: background 0.2s;
}

.toc li:hover:after {
    background: var(--theme-color);
}

.toc ul {
    margin: 0;
    padding: 0;
}

.toc ul ul {
    margin-left: 1.5rem;
}

.toc-toggle {
    cursor: pointer;
    display: none;
    z-index: 1;
}

.toc:has(li:nth-child(8)) nav {
    overflow: hidden;
    max-height: 15rem;
    position: relative;
}

.toc:has(li:nth-child(8)):not([data-toc-state="opened"]) nav::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to bottom, transparent 0%, var(--base-background-color) 90%);
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

.toc:has(li:nth-child(8))[data-toc-state="opened"] nav {
    max-height: none;
}

.toc:has(li:nth-child(8)) .toc-toggle {
    display: block;
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    color: var(--middle-emphasis-color);
    background: none;
    border: none;
}

.toc:has(li:nth-child(8))[data-toc-state="opened"] .toc-toggle {
    display: none;
}

.affiliate_link_disclosure {
    font-size: 0.9rem;
    color: var(--middle-emphasis-color);
    margin: 2rem 0;
}

.affiliate_link_button {
    display: block;
    width: max-content;
    max-width: 100%;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background: var(--theme-color);
    color: var(--text-color-on-theme);
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
}

.affiliate_link_button:hover {
    color: var(--text-color-on-theme);
}

main > article {
    width: 100%;
    max-width: var(--article-max-width);
    margin: 0 auto;
    padding-top: 0.5rem;
    hyphens: auto;
    line-break: strict;
    overflow-wrap: break-word;
    word-break: break-word;
}

main > article a {
    color: var(--theme-color);
}

main > article a:hover {
    color: var(--theme-color-lighter);
}

main > article img {
    max-width: 100%;
    max-height: 70vh;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

main > article img + em {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    color: var(--middle-emphasis-color);
    margin-top: 0.5rem;
}

main > article figure {
    margin: 1.5rem 0;
}

main > article figure figcaption {
    text-align: center;
    font-size: 0.8rem;
    color: var(--middle-emphasis-color);
    margin-top: 0.5rem;
}

main > article pre {
    padding: 0.75rem;
    margin: 1rem 0;
}

main > article hr {
    border: none;
    width: 100%;
    height: 0.1rem;
    background: var(--base-text-color);
    opacity: 0.5;
    margin: 1.5rem 0;
}

main > article table {
    width: 100%;
    overflow-x: scroll;
    border: solid 0.1rem var(--base-text-color);
    border-collapse: collapse;
    margin: 1.5rem 0;
}

main > article th,
main > article td {
    border: solid 0.1rem var(--base-text-color);
    padding: 0.5rem;
}

/*
 * フォントサイズは https://qiita.com/xrxoxcxox/items/206b223844e3c42dc86f を参考に改変
 */
main > article h1 {
    font-size: 1.75rem;
    line-height: calc(0.25rem * 10);
    margin-top: 1rem;
    font-feature-settings: "palt";
}

main > article h2 {
    font-size: 1.5rem;
    line-height: calc(0.25rem * 9);
    font-feature-settings: "palt";
    padding: 0.25em 0.5em;
    border-left: solid 0.4rem var(--theme-color);
}

main > article h3 {
    font-size: 1.3125rem;
    line-height: calc(0.25rem * 8);
    font-feature-settings: "palt";
    border-bottom: solid 0.15rem var(--middle-emphasis-color);
}

main > article h4 {
    font-size: 1.125rem;
    line-height: calc(0.25rem * 6);
    font-feature-settings: "palt";
}

main > article h5 {
    font-size: 0.875rem;
    line-height: calc(0.25rem * 5);
    font-feature-settings: "palt";
}

main > article h6 {
    font-size: 0.758rem;
    line-height: calc(0.25rem * 4);
    font-feature-settings: "palt";
}

main > article p {
    font-size: 1rem;
    line-height: calc(0.25rem * 7);
    text-align: justify;
    text-justify: inter-character;
}

main > article * + h2 {
    margin-top: calc(0.25rem * 11);
}

main > article * + h3 {
    margin-top: calc(0.25rem * 10);
}

main > article * + h4 {
    margin-top: calc(0.25rem * 8);
}

main > article * + h5 {
    margin-top: calc(0.25rem * 7);
}

main > article * + h6 {
    margin-top: calc(0.25rem * 6);
}

main > article * + p {
    margin-top: calc(0.25rem * 5);
}

main > article blockquote {
    color: var(--low-emphasis-color);
    border-left: 0.25rem solid var(--low-emphasis-color);
    padding-left: 0.5rem;
    margin: 1.25rem 0;
}

main > article ul,
main > article ol {
    margin: 1.25rem 0;
    margin-left: 2rem;
}

main > article ul > li,
main > article ol > li {
    margin: 0.5rem 0;
}

main *:target {
    scroll-margin: 4rem;
}

*:not(pre) > code {
    font-family: monospace;
    margin: 0 0.25em;
    background: var(--inline-code-background-color);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.expressive-code {
    margin: 1.5rem 0;
}

.expressive-code .frame.is-terminal .header::before {
    background-image: linear-gradient(to right, #c95b5b 30%, 30%, #e0b054 70%, 70%, #62b162);
    opacity: 0.8 !important;
}

.share_button {
    width: 100%;
    max-width: var(--article-max-width);
    margin: 0 auto;
    display: flex;
    gap: calc(var(--social-icon-size) / 2);
    padding: calc(var(--social-icon-size) / 2);
}

.share_button img {
    width: var(--social-icon-size);
    height: var(--social-icon-size);
}

.author_info {
    width: 100%;
    max-width: var(--article-max-width);
    margin: 0 auto;
    border-color: var(--low-emphasis-color);
    border-style: solid;
    border-width: 0.1rem 0;
    padding: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 4rem 1fr;
    margin-top: 0.5rem;
}

.author_info-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    object-fit: cover;
    margin: auto;
}

.author_info-text {
    display: inline-block;
    margin: auto 0;
}

.author_info-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.author_info-link_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    margin-top: 0.5rem;
    font-style: normal;
}

.author_info-link_container a {
    color: inherit;
    text-decoration: none;
}

.author_info-bio {
    grid-column: 1 / 3;
}

.author_info-bio p {
    font-size: 0.9rem;
}

.author_info-bio p + p {
    margin-top: 1rem;
}

.rlc-container {
    background: var(--secondary-background-color);
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0.1rem 0.1rem 0.5rem rgb(0, 0, 0, 0.2);
    border: solid 0.1rem rgb(50, 50, 50, 0.1);
    display: grid;
    grid-template-columns: 30% 70%;
    text-decoration: none;
    color: inherit;
    margin: 2rem 0;
}

.rlc-container:hover {
    color: inherit;
}

.rlc-info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0.25rem 1rem;
}

.rlc-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-character;
    margin: 0.75em 0 0.5em 0;
    font-feature-settings: "palt";
    line-height: 125%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rlc-description {
    color: var(--middle-emphasis-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 120%;
}

.rlc-image-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-right: solid 0.1rem #e8e8e8;
}

@media (prefers-color-scheme: dark) {
    .rlc-image-container {
        border-color: transparent;
    }
}

.rlc-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.rlc-url-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.rlc-favicon {
    width: 1.2em;
    height: 1.2em;
    object-fit: cover;
    border-radius: 0.6em;
    margin: 0;
}

.rlc-url {
    color: var(--middle-emphasis-color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.recommended_articles_section {
    width: 100%;
    max-width: var(--article-max-width);
    margin: 0 auto;
    margin-top: 3rem;
}

.recommended_articles {
    margin-top: 1rem;
}

.recommended_articles article {
    width: 100%;
    height: 8rem;
    margin: 1rem 0;
}

.recommended_articles article a {
    color: inherit;
    text-decoration: none;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
}

.recommended_articles article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    overflow: hidden;
}

.recommended_articles article h3 {
    display: inline-block;
    height: 4.5em;
    margin-left: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

footer {
    background: #3a3a3a;
    height: var(--footer-height);
    color: white;
    padding-top: 2.5rem;
}

footer p {
    text-align: center;
    margin-bottom: 0.5rem;
}

footer a {
    color: inherit;
}

/* 記事内のコンテンツ内の広告 */
article .adsbygoogle {
    /* 広告の上に［広告］というテキストを付けるので上のマージンを広く取る */
    margin: 3rem 0 2rem 0;
    text-decoration: none;
    position: relative;
}

article .adsbygoogle::before {
    content: "広告";
    display: block;
    width: 100%;
    text-align: center;
    color: var(--middle-emphasis-color);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    position: absolute;
    top: -2em;
}

/* その他の広告 */
.adsbygoogle {
    margin: 2rem 0;
}

main > .adsbygoogle[data-ad-format="fluid"] {
    margin: 0;
}

lite-youtube {
    margin: 1.5rem 0;
}
